body
{
    background-color: lightgray;
    font-size: 1vw;
    

}

.container
{

  background-color: white;
  height: 1500px;
  padding: 0px;
  text-align: center;
}
    
  
  

.container2
{

  background-color: #77dd77;
  width: 200px;
  height: auto;
  text-align: center;
  padding: 20px;
  border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  
  li a {
    color: white;
    text-align: center;
    padding: 20px;
    
  }
  
  li a:hover {
    background-color: lightgray;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    
  }
  
  .logo
  {
      display: inline-block;
      padding: 20px;
      width: 250px;

  }

  .menu
  {
      display: inline-block;
      padding: 20px;
      font-size: 5em;
      
  }

  footer {
    display: block;
    background-color: #333;
    text-align: center;
    color: white;
    padding: 50px;
    
  }
  



  
  @media screen and (min-width: 500px) {
     .menu{
       font-size: 26px;
    }
  }
  @media screen and (max-width: 275px) {
    .menu{
      font-size: 14px;
   }
 

  }
